extends layout

block content
  ul
  each article in articles
    section
      .titre
        | #{article.title}
        .cmd
          a(href='/posts/edit/6383dc1fe416171f7ee71c5a')
            i.icon-edit  
          a(onclick="alert('Impossible de  supprimer ce post. ') " hreef='/posts/delete/6383dc1fe416171f7ee71c5a')
            i.icon-trash
      .auteur Auteur: #{article.author} 
      .date
        | date de cr&eacute;ation: #{article.createdAt}
      .date
        | date de Modification: #{article.updatedAt}
      .resume
        p R&eacute;sum&eacute;
        span #{article.summary} ...
        a(href='/posts/6383dc1fe416171f7ee71c5a') Lire plus
