extends layout

block content
  .blank
  .add
    a(href='/posts/edit')
      i.icon-plus-sign
  .home
    a(href='/posts')
      i.icon-home  
  ul
  each article in articles
    section
      .titre
        | #{article.title}
        .cmd
          a(href='/posts/edit/' + article._id)
            i.icon-edit  
          a(onclick="alert('Impossible de  supprimer ce post. ') " hreef='/posts/delete/'+ article._id)
            i.icon-trash
      .auteur Auteur: #{article.author} 
      .date
        | date de cr&eacute;ation: #{article.createdAt}
      .date
        | date de Modification: #{article.updatedAt}
      .resume
        p R&eacute;sum&eacute;
        span #{article.summary} ...
        a(href='/posts/' + article._id) Lire plus
